# Ignore environment variables file
.env

# Ignore Python virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyd

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/
